nav button{
    width: 200px;
    height: 50px;
    color: black;
    transition: 200ms;
    background-color: #8FAFD8;
    
}

nav button:hover{
    transform: scale(1.02);
    transition: 200ms;
    box-shadow:6px 6px 0px #121212;
}
nav button:active{
    transform: scale(1);
    transition: 200ms;
    box-shadow: 2px 2px 0px #121212;
}