nav button{
    width: 200px;
    height: 50px;
    background-color:#121212;
    border: none;
    color: white;
}

nav button:active{
    background-color: white;
    color: black;
    transition: 100ms;
}