.cartwidget{
    background-color: #b144d9;
    font-size: 2rem;
    border: 2px solid black;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.carticon{
    width: 30px;
    height: 30px;

}