.cartItem{
    margin: 20px;
    display: flex;
    background-color: #04BBEC;
    height: 150px;
    justify-content: space-between;
    align-items:center;
}

.cartItem .containerImgCart{
    height: 100%;
}
.cartItem .containerImgCart img{
    height: 100%;
}