.FinalizarCompraContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 50px;
    padding: 30px;
    border: 2px solid black;
}
.FinalizarCompraContainer h2{
    color: black;
    font-size: 3rem;
    text-align: center;
}
.FinalizarCompraContainer button{
    border: none;
    height: 50px;
    width: 250px;
    font-size: 1.3rem;
    background-color: rgb(33, 147, 234);
    transition: 100ms;
}
.FinalizarCompraContainer button:hover{
    transform: scale(1.05);
    transition: 100ms;
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}

.FinalizarCompraContainer button:active{

}