.heroSection{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-image: url('/herogif.gif');
    background-repeat: no-repeat;
    background-size: cover;

}
.container-img{
    width: 600px;
    height: 300px;
    transition: 500ms;
}
.container-img:hover{
    transform: scale(1.1);
    transition: 500ms;
    
}
.container-img img{
    width: 100%;
}

.presentacion h1{
    font-size:2rem;
    color: white;
}
.presentacion h2{
    font-size:1rem;
    color: white;
}
