@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.itemcard{
    
    width: 250px;
    height: 400px;
    display: grid;
    transition: all 0.3s ease-in-out;

}
.itemcard:hover{
    transform: scale(1.02);
    box-shadow: 10px 10px 0px #000000;

}
.itemcard .containerimg{
    width: 100%;
    height:200px;
}
.itemcard .containerimg img{
    width: 100%;
    object-fit: cover;
}
.itemcard h4{
    font-size: 1.4rem;
    text-align: center;
}
.itemcard button{
    width: 150px;
    height: 50px;
    color: #E0E0E0;
    background-color: #121212;
    transition: 100ms;
    
    border: solid 2px #E0E0E0;
}
.itemcard button:hover{
    transform: scale(1.4);
    box-shadow: 4px 4px 0px black;
    color: white;
    transition: 200ms;

    border: solid 2px #E0E0E0;
}
.itemcard .nombreproducto{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(58, 140, 196);
    color: black;
}
.itemcard .nombreproducto h4{
    font-family: "Roboto", sans-serif;
    font-style: 200;
    text-shadow: 2px 2px 0px black;
    color: white;
}
