

.productDetail{
    padding: 20px;
    background-color:#121212 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.productDetail h2{
    font-size: 2.5rem;

}
.productDetail h3{
    font-size: 4rem;
}
.productDetail P{
    color: rgb(157, 157, 157);
}
.productDetail img{
    width: 25%;
}
.productDetail .agregarAlCarrito {
    display: flex;
    gap: 10px;
    
}
.productDetail .agregarAlCarrito button{
    border: none;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: #1212;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    transition: 100ms;
}
.productDetail .agregarAlCarrito button:hover{
    transform: scalex(1.05);
    
    transition: 100ms;
}
.productDetail .agregarAlCarrito button:active{
    background-color: #f857ea;
    color: black;
    transition: 100ms;
}
.productDetail .portadaJuego{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.productDetail .portadaJuego img{
    width: 100%;

}
.productDetail .infoProducto{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    gap: 10px;
}
.ItemCounter{
    display: flex;
    gap: 10px;
}
.ItemCounter input{
    font-size: 1.5rem;
    text-align: center;
}
.ItemCounter button{
    width: 50px;
    height: 50px;
    font-size:2rem;
    background-color: #1212;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    transition: 100ms;
}
.ItemCounter button:hover{
    background-color: #f857ea;
    transform: scale(1.1);
    transition: 100ms;
}
.ItemCounter button:active{
    background-color: #f857ea;
    transform: scale(1);
    transition: 100ms;
}

