.productDetail{
    padding: 20px;
    background-color:#0D3F7C ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
.productDetail h2{
    font-size: 3rem;
}
.productDetail h3{
    font-size: 4rem;
}
.productDetail img{
    width: 25%;
}
.productDetail .agregarAlCarrito {
    display: flex;
    gap: 10px;
}
.productDetail .agregarAlCarrito button{
    border: none;
    width: 150px;
    height: 50px;
    background-color: #FF82F4;
    border-radius: 10px;
    transition: 100ms;
}
.productDetail .agregarAlCarrito button:hover{
    transform: scale(1.1);
    background-color: #f857ea;
    transition: 100ms;
}
.productDetail .portadaJuego{
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.productDetail .portadaJuego img{
    width: 90%;

}
.productDetail .infoProducto{
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.ItemCounter{
    display: flex;
    gap: 10px;
}
.ItemCounter button{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color:#FF82F4 ;
    text-align: center;
    transition: 100ms;
}
.ItemCounter button:hover{
    background-color: #f857ea;
    transform: scale(1.1);
    transition: 100ms;
}
.ItemCounter button:active{
    background-color: #f857ea;
    transform: scale(1);
    transition: 100ms;
}